.card {
    backdrop-filter: blur(10px) saturate(179%);
    -webkit-backdrop-filter: blur(10px) saturate(179%);
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: whitesmoke;
    width: 750px;
}

.fc-event{
    background: var(--orange-gradient)!important;
}
.fc .fc-timegrid-slot{
    height: 2.5rem!important;
}
/* td{
    border : 1px solid var(--grey)!important
} */